// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/_base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// Generate the blueprint framework according to your configuration:
@include blueprint;

@include blueprint-scaffolding;


@import "blueprint/debug";

//$header-color: #1A63BE;
//$primary-marketing-color: #4484D6;
//$secondary-marketing-color: #92BCF8;

//$header-color: #03262C;
//$header-text-color: white;
//$primary-marketing-color: #1A63BE;
//$secondary-marketing-color: #4484D6;


$header-color: #736258;
$header-text-color: white;
$primary-marketing-color: #589a9f;
$secondary-marketing-color: #bfb909;

h1 {
	color: $header-text-color;
}

#header {
	background-color: $header-color;
}

#primary-marketing {
	background-color: $primary-marketing-color;
}

#secondary-marketing {
	background-color: $secondary-marketing-color;
}

#footer {

}

#login {
  border: 1px #CCC solid;
  @include column(7);
  //label {
  //  background-color: red;
  //}
}

#content {
  //@include showgrid;
  padding: 20px;
  background-color: white;
  #sidebar {
    @include column(3); }
  #content {
    @include column(5, true); } 
}
