//#sidebar
//  %ul
//    %li
//      %a(href="#") Nav #1
//    %li
//      %a(href="#") Nav #2
//    %li
//      %a(href="#") Nav #3
//%p
//  Lorem ipsum dolor sit amet,
//  consectetur adipisicing elit, sed do
//  eiusmod tempor incididunt ut labore et
//  dolore magna aliqua.

#login
  %label
    Username
  %input
  %br
  %label
    Login
  %input
  %br
  %button.green
    Login
#footer
  .container
    This is the footer.
