//#sidebar
//  %ul
//    %li
//      %a(href="#") Nav #1
//    %li
//      %a(href="#") Nav #2
//    %li
//      %a(href="#") Nav #3
//%p
//  Lorem ipsum dolor sit amet,
//  consectetur adipisicing elit, sed do
//  eiusmod tempor incididunt ut labore et
//  dolore magna aliqua.

#watch.content-box
  .step
    .text
      .one
        1
      .title
        Enter Site to Watch:
    .value
      %input
      .description
        What website would you like us to watch?
  .step
    .text
      .two
        2
      .title
        Enter Email Address to Notify:
    .value
      %input
      .description
        We need your email address to tell you when your site is down
  .step
    .last
      %button Go