//#sidebar
//  %ul
//    %li
//      %a(href="#") Nav #1
//    %li
//      %a(href="#") Nav #2
//    %li
//      %a(href="#") Nav #3
//%p
//  Lorem ipsum dolor sit amet,
//  consectetur adipisicing elit, sed do
//  eiusmod tempor incididunt ut labore et
//  dolore magna aliqua.

#content-box
  - if has_site?
    = link_to "We are watching you!", mysite_path
  - else
    = link_to "Have us watch your site now!", watch_path
