//#sidebar
//  %ul
//    %li
//      %a(href="#") Nav #1
//    %li
//      %a(href="#") Nav #2
//    %li
//      %a(href="#") Nav #3
//%p
//  Lorem ipsum dolor sit amet,
//  consectetur adipisicing elit, sed do
//  eiusmod tempor incididunt ut labore et
//  dolore magna aliqua.

#content-box
  %h2 Hello!
  %p
    %label Name
    %span Value
  %p
    %label Value
    %span Name
  %fieldset
    %legend Title
    This is some content
