#watch.content-box
  .site
    %span.site
      Status for ->
    %span.uri
      = @site.uri

  %fieldset
    %legend Status
    %span.status
      Status is 
      = @site.code
      
  %fieldset
    %legend Schedule

  %fieldset
    %legend History
    
