#watch.content-box
  .site
    %span.site
      Current status for ->
    %span.uri
      = @site.uri

  %fieldset
    %legend Status
    %span.status
      Status should be normal :o) 
      
  %fieldset
    %legend Schedule

  %fieldset
    %legend History
    